<footer class="home-footer">
  <div class="instagram-feed" id="instagram-feed"></div>
  <div class="footer-content">
    <div class="footer-half">
      <h4 class="footer-title">Fortnite Victory Camp</h4>
      <p class="footer-legal">
        Portions of the materials used are trademarks and/or copyrighted
        works of Epic Games, Inc. All rights reserved by Epic. This material
        is not official and is not endorsed by Epic.
      </p>
    </div>
    <div class="footer-nav footer-half">
      <div class="footer-half">
        <h4 class="footer-title">Website</h4>
        <ul class="footer-links">
          <li><a href="/">Home</a></li>
          <li><a href="/guides">Guides</a></li>
          <li><a href="https://calendly.com/fnvictorycamp/1hr-session">Coaching</a></li>
          <li><a href="mailto:coach@fortnitevictorycamp.com">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-half">
        <h4 class="footer-title">Social</h4>
        <ul class="footer-links">
          <li><a href="http://twitch.tv/clawshi">Twitch</a></li>
          <li><a href="http://discord.fortnitevictorycamp.com">Discord</a></li>
          <li><a href="http://instagram.com/fortnitevictorycamp">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
