
/*  =======================
    Components
=========================== */

.container {
  width:92%;
  max-width:1020px;
  margin: 0 auto;
  position:relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;

  @include mq-personal {
    flex-direction: column;
    width: 100%;
  }
}

.content {
  padding-top:4.2rem;
  max-width:540px;

  @include mq-personal {
    padding-top: 4rem;
  }

  ul, ol {
    box-sizing:border-box;
    li { margin-bottom: 1em;}
  }
}
