.button {
  position: relative;
  display: block;
  margin-bottom: 1em;
  padding: 1em;
  color: #333;
  background-color: #FFCF24;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  font-size: 1.8rem;
  text-align: center;

  @include transition;

  &:hover {
    transform: translateY(-2px);
    color: #333;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5), 0px 1px 3px rgba(0, 0, 0, 0.2);
    @include transition;

  }

  &.button-white {
    background-color: white;
    color: $color_violet;
  }
}
